// https://alligator.io/vuejs/understanding-transitions/
.slither
  &-enter-active,
  &-leave-active
    transition: transform 400ms
  &-enter,
  &-leave-to
    transform: translateX(-100%)
  &-enter-to,
  &-leave
    transform: translateX(0)

.fade
  &-enter-active,
  &-leave-active
    transition: opacity 400ms
  &-enter,
  &-leave-to
    opacity: 0
  &-enter-to,
  &-leave
    opacity: 1

